a.asso, a.asso:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}


tr.deleted {
	background-color: #E14343; 
	color:#fff;
}

tr.deleted a {
	color:#fff;
}


tr.deleted:hover {
    background-color: #E14343!important;
}