a.asso, a.asso:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}


tr.deleted {
	background-color: #E14343; 
	color:#fff;
}

tr.deleted a {
	color:#fff;
}


tr.deleted:hover {
    background-color: #E14343!important;
}


span.red1 {
	color:#DE0000;
}

span.red2 {
	color:#A11010;
}

/*oggi*/
span.oggi {
	color:forestgreen;
}

/*domani*/
span.domani {
	color:mediumblue;
}



tr.deleted span.red1,
tr.deleted span.red2,
tr.deleted span.oggi
tr.deleted span.domani {
	color:#fff;
}



table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	cursor: auto!important;
}


th.No_Order {
    color: #72afd2;
    font-weight: bold!important;
}

.no_link:hover {
	cursor: default!important;
}


a.question:hover {
	cursor: help!important;
}


form#export_ore {
	padding-bottom: 30px;
}

#map { 
  height: 300px;    
  width: 100%;            
}          


/*
box per i pulsanti "crea relazione di servizio" e "elimina"
modifica di un preventivo 
 */
div.box-operations {
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
